<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Music</h3>
<p>
    <a th:href="@{}">
        Back to Music list
    </a>
</p>
<div id="form">

    <form action="#"  th:object="${music}"
          novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>nameMusic</label>
            <input type="text" th:field="*{nameMusic}"/>
        </div>
        <div>
            <label>author</label>
            <input type="email" th:field="*{author}"/>
        </div>
        <div>
            <label>typeOfMusic</label>
            <input type="text" th:field="*{typeOfMusic}"/>
        </div>
        <div>
            <label>link</label>
            <input type="text" th:field="*{link}"/>
        </div>

    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>

